body { 
    display: grid;
    grid-template-areas: 
      "header header"
      "nav article"
      "nav ads"
      "footer footer";
    grid-template-rows: 80px 1fr 70px 70px;  
    grid-template-columns: 20% 1fr;
    grid-row-gap: 2px;
    grid-column-gap: 2px;
    height: 100vh;
    margin: 0;
}  
 header, footer, article, nav, div {
    padding: 1.2em;
    background: darkgreen;
}
#pageHeader {
    grid-area: header;
}
#gameMenu {
    grid-area: footer;
}
#mainGame { 
    grid-area: article;      
}
#betsNav { 
    grid-area: nav; 
}
#gameLog { 
    grid-area: ads; 
} 

.button {
  padding: 15px 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #ff0000;
  border: solid black 1px;
  border-radius: 15px;
  box-shadow: 0 9px rgb(0, 0, 0);
}

.button:hover {background-color: #080000}

.button:active {
  background-color: #353535;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
h1{
  text-align: center;
}

#whl {
  height: 300px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.animate {
  animation-name: rotate;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}
@keyframes rotate{
  from{ transform: rotate(-360deg);}
  to{ transform: rotate(360deg);}
}

  




  /* Stack the layout on small devices/viewports. */
  @media all and (max-width: 575px) {
    body { 
      grid-template-areas: 
        "header"
        "article"
        "ads"
        "nav"
        "footer";
      grid-template-rows: 80px 1fr 70px 1fr 70px;  
      grid-template-columns: 1fr;
   }
  }